@charset "ISO-8859-1";
.container-dashboard {
  width: (100% - 250px);
  margin-top: 70px;
  margin-left: 250px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 15px;
  background: url();

}
.wrapper.collapse .container-dashboard{
  width: calc(100% - 70px);
  margin-left: 70px;
  align-items: center;
}
.dashboard-left {
  background-color: #F6F8FA;
  width: 100%;

}
.container-dashboard {
	display: flex;
}


.dashboard-right {
	  background-color: #F6F8FA;
  margin: 0 20px;
  width: 33%;
}
.dashboard {
  border: 1px solid #5DADE2;
  background-color: #F4F6F7;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 20px;
  background-image: linear-gradient(0, #F4F6F7, #F2F3F4);
}
.header-dash {
  width: 100%;
  border-bottom: 1px solid #CCD1D1;
  height: 30px;
  padding: 5px;


}
.content-dash {
  display: block;
}
.title-dash {
  color: #27B3F7;
  font-size: 17px;
  margin: 5px;
}
.message-content {
  width: 90%;
  margin: auto;
}
.message-dash {
  font-size: 14px;
}
.link-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 8px;


}
.link-list .item-left  {
  left: 300px;
}
.link-item {
  margin: 2px 8px 0 8px;
}
.link-item a{
color: #27B3F7;
}
.progress {
  vertical-align: baseline;
}
@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}
.progress {
  margin: 10px;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #2fa4e7;
  transition: width 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.progress-bar-animated {
  -webkit-animation: 1s linear infinite progress-bar-stripes;
  animation: 1s linear infinite progress-bar-stripes;
}
@keyframes loading{
  100%{
    transform: translateX(100%);
  }
}


#click {
  display: none;
}
#click1 {
  display: none;
}
#click2 {
  display: none;
}
#click3 {
  display: none;
}
#click4 {
  display: none;
}


/* Comment Box*/
.comment {
  display: none;
  width: 100%;
  height: 100%;
  margin: 5px;
  animation: comment 1s ease;
  	transition: transform 2s;
}
@keyframes comment {
	from {
		top: 0px
	}
	to {
		bottom: 250px;
	}
}

.comment-title {
  color: #55A3F0;
  margin: 10px 0;
}
.comment-click {

}
#click:checked ~ .comment {
  display: block;

}
#click1:checked ~ .comment {
  display: block;
    animation: comment 1s ease;
}
#click2:checked ~ .comment {
  display: block;
}
#click3:checked ~ .comment {
  display: block;
}
#click4:checked ~ .comment {
  display: block;
}
.commnent-content {
  width: 100%;
  display: block;
}

textarea.comment-control-text {
  width: 98%;
  height: 100%;
  border-radius: 10px;
  border: none;
  margin: 5px 0;
  font-size: 14px;
  outline: none;
  padding: 2px 10px;


}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #55A3F0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
.comment-control {
  display: block;
  width: 98%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 5px 0;
  border-radius: 20px;
}
